/* --------------------------------------------------------------------------------------------------------------------------------------------------
GLOBAL: LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#vcard {
	position: static;
	overflow: visible;
	width: 250px;
	margin: 0 auto;
	padding: 20px 25px 480px 25px;
	background-position: 0 100%;
}
	#header h1 {
		font-size: 34px;
	}
	#header h2 {
		font-size: 22px;
	}

#background,
#pattern {
	display: none;
}